:root {
  --light: #EFF1F3;
  --midtone: #FFCC76;
  --dark:  #015D53;
  --darker: #545454; 
  --ad_accent: #FFCC76;
  --ad_accent_two: #F5FAFF; 

}

html{
  scroll-behavior: smooth; 
}
.donate-main{
  padding: 9%;
  background-color: var(--light);
  font-family: 'Poppins', sans-serif; 
}


h3 {
  font-family: 'Montserrat';
  font-size: 1.4rem;
  color: white;
}

.our-story-subtext {
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 5%; 
  font-family: 'Poppins', sans-serif; 
  line-height: 1.68em; 
  color: #545454;
}

/*--------------------------------------------------------------
# App Features
--------------------------------------------------------------*/
.features .content {
  padding: 30px 0;
}

.features .content .icon-box {
  margin-top: 25px;
}

.features .content .icon-box h4 {
  font-size: 20px;
  font-weight: 700;
  margin: 5px 0 10px 60px;
}

.features .content .icon-box i {
  font-size: 48px;
  float: left;
  color: #5777ba;
}

.features .content .icon-box p {
  font-size: 15px;
  color: #979aa1;
  margin-left: 60px;
}

@media (max-width: 991px) {
  .features .image {
    text-align: center;
  }
  .features .image img {
    max-width: 80%;
  }
}

@media (max-width: 667px) {
  .features .image img {
    max-width: 100%;
  }
}

/*--------------------------------------------------------------
# Details
--------------------------------------------------------------*/
.details .content + .content {
  margin-top: 100px;
}

.details .content h3 {
  font-weight: 700;
  font-size: 32px;
  color: #47536e;
}

.details .content ul {
  list-style: none;
  padding: 0;
}

.details .content ul li {
  padding-bottom: 10px;
}

.details .content ul i {
  font-size: 20px;
  padding-right: 4px;
  color: #5777ba;
}

.details .content p:last-child {
  margin-bottom: 0;
}




/* Navigation Bar */
.navbar {
  /*padding: 0 0 4.5rem;*/
  padding: 0.5% 7%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.navbar-brand {
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 0.9rem;
  font-weight: 300;
  font-family: 'Poppins', sans-serif;
}

.div1 {
	background-image: url("images/aboutUsBanner.svg");
	background-repeat: no-repeat;
	background-size: cover;
	padding-bottom: 5%;
}

.title {
	margin: 0;
	padding-top: 5%;
	padding-left: 10%;
	font-family: 'Merriweather', serif;
	color: #015D53;
	font-size: 38px;
}

.links {
	padding-top: 5%;
	padding-left: 10%;
  font-family: 'Poppins', serif;
  text-decoration: none; 
}
a{
  text-decoration: none; 
}

.line:hover{
  font-style: bold; 
}

.div2 {
	background-color:#FAEBD7;
	width:85%;
	margin: auto;
	padding:9px;
}

.padding-spacer {
  padding-bottom: 10%;
}

.p-our-story {
	padding-left: 25%;
	padding-right: 25%;
  font-family: 'Poppins', sans-serif;
  /* text-align: center;  */
  padding-top: 2%; 
  line-height: 1.68em; 
}

.ptext {
	padding-left: 25%;
	padding-right: 25%;
  font-family: 'Poppins', sans-serif;
  padding-top: 2%; 
  line-height: 1.68em;
}

.goals-list{
  padding-left: 27%; 
  font-family: 'Poppins', sans-serif;
  padding-top: 2%;
  line-height: 1.68em; 
}

.image {
	width: 30em;
	height: 20em;
}

.image2 {
  width: 24em;
}

.p-heading {
	/*padding-left: 25%;
	padding-right: 25%;*/
	padding: 0% 28% 10% 28%;
  text-align: center; 
	color: #015D53;
	font-family: 'Poppins', serif;
	font-weight: 300;
	font-size: 24px;
}

.text-heading {
  font-family: 'Merriweather', sans-serif;
  margin-left: 25%;
  color: #015D53;
}

/* Footer */
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
/*#footer {
    padding: 60px 0;
}
*/
section .section-title {
    text-align: center;
    color: #007b5e;
    margin-bottom: 50px;
    text-transform: uppercase;
}
#footer {
  background: #545454 !important;
  padding: 60px 0;
}
#footer h5{
padding-left: 10px;
 color:var(--dark);
  border-left: 3px solid #eeeeee;
  padding-bottom: 6px;
  margin-bottom: 20px;
  color:#ffffff;
}
#footer a {
  text-decoration: none !important;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
#footer ul.social li{
padding: 3px 0;
}
#footer ul.social li a i {
  font-weight: 200; 
  margin-right: 5px;
font-size:1.2em;
-webkit-transition: .5s all ease;
-moz-transition: .5s all ease;
transition: .5s all ease;
}
#footer ul.social li:hover a i {
font-size:30px;
margin-top:-10px;
}

#footer img{
  margin-left: 0.7em; 
  width: 18%; 
  height: auto; 
}

#footer img:hover{
  opacity: 50%; 
}
#footer ul.social li a,
#footer ul.quick-links li a{
font-size: 0.9em; 
color:var(--light);
}
#footer ul.social li a:hover{
color:#eeeeee;
}
#footer ul.quick-links li{
padding: 3px 0;
-webkit-transition: .5s all ease;
-moz-transition: .5s all ease;
transition: .5s all ease;
}
#footer ul.quick-links li:hover{
padding: 3px 0;
margin-left:5px;
font-weight:700;
}
#footer ul.quick-links li a i{
margin-right: 5px;
}
#footer ul.quick-links li:hover a i {
  font-weight: 700;
}

#footer h3 {
  font-family: 'Merriweather';
  font-size: 1em;
  color: white;
}

#fb{
  margin-left: 6.2em; 
}

@media (max-width:767px){
  #footer h5 {
    padding-left: 0;
    border-left: transparent;
    padding-bottom: 0px;
    margin-bottom: 10px;
    
}

#fb{
  margin-left: 0; 
}


}

@media only screen and (max-width: 426px) {

  .img-fluid-1 {
    margin: auto;
    display: block;
    width: 50%;
    padding-bottom: 10%;
  }

  .ul-list {
    padding-left: 10%;
    padding-right: 10%;
  }

  p {
    padding-left: 10%;
    padding-right: 10%;
  }

  .h2, h2 {
    text-align: center;
  }

  .img-pic {
    padding-top: 0;
  }

  .our-story-subtext {
    text-align: left;
  }

    col-lg-6, col-md-6, col-sm-12 {
    padding-left: 0;
    padding-right: 0;
  }

  .links {
    font-size: small;
  }

  .p-heading {
    padding: 0% 10% 17% 10%;
  }

  .text-heading {
    margin-left: 0;
    text-align: center;
  }

  .goals-list {
    /* padding-left: 10%;
    padding-right: 10%; */
    padding-left: 13%;
    padding-right: 7%;
  }

  .links {
    padding-top: 15%;
  }
}

@media only screen and (max-width: 1123px) {
  .img-pic {
    padding-top: 30%;
    width: 100%;
  }

}