body{
  margin: 0; 
}

.container-fluid {
background-color: white;
}

.left-area {
background-color: #F5FAFF;
padding-top: 5%;
}

.col-lg-6, .col-md-6, .col-sm-12 {
padding-right: 0;
padding-left: 0;
/* padding-top: 5px; */
}

/* Navigation Bar */
.navbar {
/*padding: 0 0 4.5rem;*/
padding: 0.5% 7%;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.navbar-brand {
font-family: 'Poppins', sans-serif;
font-size: 2.5rem;
font-weight: bold;
}

.nav-item {
padding: 0 18px;
font-family: 'Poppins', sans-serif;
}

.nav-link {
font-size: 1rem;
font-weight: 400;
font-family: 'Poppins', sans-serif;
}

:root {
  --light: #EFF1F3;
  --midtone: #FFCC76;
  --dark:  #015D53;
  --darker: #545454; 
  --ad_accent: #FFCC76;
  --ad_accent_two: #F5FAFF; 

}

h1{
  padding-top: 5%; 
  text-transform: uppercase; 
  font-size: 38px; 
  color:var(--dark); 
  text-align: left;
  padding-bottom: 5%; 
}

.left-style {
padding-left: 7%;
padding-right: 7%;
padding-bottom: 10%;
}

.flex-container .left p{
  font-size: 18px; 
  color: var(--dark); 
  margin-left: 150px; 
  margin-right: 150px; 
  line-height: 30px; 

}

h2{
  text-transform: uppercase; 
  color: var(--dark); 
  font-size: 18px;  
}

#top-heading {
padding-top: 10%;
padding-bottom: 1%;
color: #015D53;
font-family: 'Merriweather', serif;
font-size: 20px;
}

#middle-heading {
font-family: 'Poppins', sans-serif;
font-weight: 500;
}

#bottom-heading {
padding-bottom: 10%;
}

.h3-heading{
  color: black; 
  font-weight: normal; 
  padding-left: 7%;
  padding-bottom: 1%;
}

.p-text {
padding-right: 7%;
padding-left: 7%;
font-family: 'Poppins', sans-serif;
}



p{
  line-height: 1.68em; 
  color: var(--darker);

  
}

.row p{
  margin-bottom: 80px; 
}


img{
  max-width: 100%;
  max-height: 100%;
}

/* .apply-btn {
background-color: #015D53;
color: white;
padding: 7px 25px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
margin: 4px 2px;
cursor: pointer;
border-radius: 25px;
display: block;
margin: auto;
} */

.apply-btn {
  color: white;
  background-color: var(--dark); 
  font-size: 16px;
  border: 0.3em ;
  border-radius: 0.5em;
  width: 12em;
  height: 3em;
  text-transform: uppercase;
  font-weight: bold;
  font-family: sans-serif;
  letter-spacing: 0.1em;
  text-align: center;
  line-height: 2.5em;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: 0.5s;
}

.apply-btn span {
  position: absolute;
  width: 25%;
  height: 100%;
  background-color: var(--ad_accent);
  transform: translateY(150%);
  border-radius: 50%;
  left: calc((var(--n) - 1) * 25%);
  transition: 0.5s;
  transition-delay: calc((var(--n) - 1) * 0.1s);
  z-index: -1;
}

.apply-btn:hover {
  color: #5F400D;
}

.apply-btn:hover span {
  transform: translateY(0) scale(2);
}

.apply-btn span:nth-child(1) {
  --n: 1;
}

.apply-btn span:nth-child(2) {
  --n: 2;
}

.apply-btn span:nth-child(3) {
  --n: 3;
}

.apply-btn span:nth-child(4) {
  --n: 4;
}

/* Footer */
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
/*#footer {
  padding: 60px 0;
}
*/
section .section-title {
  text-align: center;
  color: #007b5e;
  margin-bottom: 50px;
  text-transform: uppercase;
}
#footer {
  background: #545454 !important;
  padding: 60px 0;
}
#footer h5{
padding-left: 10px;
  border-left: 3px solid #eeeeee;
  padding-bottom: 6px;
  margin-bottom: 20px;
  color:#ffffff;
}
#footer a {
  color: #ffffff;
  text-decoration: none !important;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
#footer ul.social li{
padding: 3px 0;
}
#footer ul.social li a i {
  margin-right: 5px;
font-size:25px;
-webkit-transition: .5s all ease;
-moz-transition: .5s all ease;
transition: .5s all ease;
}
#footer ul.social li:hover a i {
font-size:30px;
margin-top:-10px;
}
#footer ul.social li a,
#footer ul.quick-links li a{
color:#ffffff;
}
#footer ul.social li a:hover{
color:#eeeeee;
}
#footer ul.quick-links li{
padding: 3px 0;
-webkit-transition: .5s all ease;
-moz-transition: .5s all ease;
transition: .5s all ease;
}
#footer ul.quick-links li:hover{
padding: 3px 0;
margin-left:5px;
font-weight:700;
}
#footer ul.quick-links li a i{
margin-right: 5px;
}
#footer ul.quick-links li:hover a i {
  font-weight: 700;
}

@media (max-width:767px){
#footer h5 {
  padding-left: 0;
  border-left: transparent;
  padding-bottom: 0px;
  margin-bottom: 10px;
}
}

.h3-footer {
font-family: 'Montserrat';
font-weight: bold;
font-size: 1.4rem;
color: white;
}

@media only screen and (max-width: 768px) {
.col-lg-6, .col-md-6, .col-sm-12 {
  padding-top: 10%;
}

.h3-heading {
  padding-left: 4%;
  padding-top: 3%;
}

.p-text {
  padding-right: 4%;
  padding-left: 4%;
  padding-bottom: 3%;
}
}

@media only screen and (max-width: 425px) {
.left-style {
  text-align: center;
  padding-bottom: 4%;
}  

.apply-btn {
  padding-bottom: 5%;
}

.h3-heading {
  padding-left: 3%;
}

.p-text {
  padding-right: 4%;
  padding-left: 4%;
}
}
