:root {
    --light: #EFF1F3;
    --midtone: #FFCC76;
    --dark:  #015D53;
    --darker: #545454; 
    --ad_accent: #FFCC76;
    --ad_accent_two: #F5FAFF; 

}

/* Navigation Bar */
.navbar {
  /*padding: 0 0 4.5rem;*/
  padding: 0.5% 7%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.navbar-brand {
  font-family: 'Poppins', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
  font-family: 'Poppins', sans-serif;
}

.nav-link {
  font-size: 1rem;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
}

body{
    margin: 0; 
}

.container-fluid {
    background-color: #F5FAFF;
    padding: 9%;
}

.h3-heading{
    color: black;  
    font-size: 30px; 
    font-weight: normal; 
}

h4{
    font-size: 22px; 
}

.ul-list{
    margin-bottom: 70px; 
    font-family: 'Poppins', sans-serif;
}

.li-list{
    color: var(--dark); 
    font-size: 18px; 
    line-height: 30px; 
}

.bottom-p{
    font-size: 18px;
    line-height: 27px; 
    color: var(--darker);
    font-family: 'Poppins', sans-serif;
    padding-top: 1%;
}

.bottom-p-two{
    font-size: 18px; 
    /* line-height: 15px;  */
    /* margin-right: 150px;  */
    color: var(--darker);
    font-family: 'Poppins', sans-serif;
}

.donate-main{
    padding: 9%;
    background-color: var(--light);
    font-family: 'Poppins', sans-serif; 
}

.p-subtext {
    text-align: center;
    font-size: 18px;
    padding-top: 2%;
    padding-left: 20%;
    padding-right: 20%;
    font-weight: 300;
    line-height: 1.68em;
}

.donate-middle {
    padding: 13%;
}

.donate-FAQ-header {
    padding-top: 3%; 
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

section h1{
    font-weight: normal; 
    font-size: 55px; 
    color: var(--dark); 
    text-align: center; 
   
}

.donate-smalltitle {
    font-size: 22px; 
    margin-top: 0; 
    color: black; 
    text-align: center; 
    padding-top: 50px; 
}

.bottom-h2{
    text-transform: uppercase; 
    color: var(--dark); 
    font-size: 18px;
    padding-bottom: 2%;
    font-family: 'Merriweather', serif;
    font-weight: bold;
}
/* 
section h3{  
    color: var(--darker); 
} */

.apply-btn {
    color: white;
    background-color: var(--dark);  
    font-size: 16px;
    border: 0.3em ;
    border-radius: 0.5em;
    width: 12em;
    height: 3em;
    text-transform: uppercase;
    font-weight: bold;
    font-family: sans-serif;
    letter-spacing: 0.1em;
    text-align: center;
    line-height: 2.5em;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: 0.5s;

}

section .apply-btn{
    margin: 0;
    position: relative; 
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    margin-top: 70px; 
    

}



.apply-btn span {
    position: absolute;
    width: 25%;
    height: 100%;
    background-color: var(--ad_accent);
    transform: translateY(150%);
    border-radius: 50%;
    left: calc((var(--n) - 1) * 25%);
    transition: 0.5s;
    transition-delay: calc((var(--n) - 1) * 0.1s);
    z-index: -1;
    
}

.apply-btn:hover {
    color: #5F400D;
}

.apply-btn:hover span {
    transform: translateY(0) scale(2);
}

.apply-btn span:nth-child(1) {
    --n: 1;
}

.apply-btn span:nth-child(2) {
    --n: 2;
}

.apply-btn span:nth-child(3) {
    --n: 3;
}

.apply-btn span:nth-child(4) {
    --n: 4;
}

/* Footer */
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
/*#footer {
    padding: 60px 0;
}
*/
section .section-title {
    text-align: center;
    color: #007b5e;
    margin-bottom: 50px;
    text-transform: uppercase;
}
#footer {
    background: #545454 !important;
    padding: 60px 0;
}
#footer h5{
  padding-left: 10px;
    border-left: 3px solid #eeeeee;
    padding-bottom: 6px;
    margin-bottom: 20px;
    color:#ffffff;
}
#footer a {
    color: #ffffff;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
#footer ul.social li{
  padding: 3px 0;
}
#footer ul.social li a i {
    margin-right: 5px;
  font-size:25px;
  -webkit-transition: .5s all ease;
  -moz-transition: .5s all ease;
  transition: .5s all ease;
}
#footer ul.social li:hover a i {
  font-size:30px;
  margin-top:-10px;
}
#footer ul.social li a,
#footer ul.quick-links li a{
  color:#ffffff;
}
#footer ul.social li a:hover{
  color:#eeeeee;
}
#footer ul.quick-links li{
  padding: 3px 0;
  -webkit-transition: .5s all ease;
  -moz-transition: .5s all ease;
  transition: .5s all ease;
}
#footer ul.quick-links li:hover{
  padding: 3px 0;
  margin-left:5px;
  font-weight:700;
}
#footer ul.quick-links li a i{
  margin-right: 5px;
}
#footer ul.quick-links li:hover a i {
    font-weight: 700;
}

@media (max-width:767px){
  #footer h5 {
    padding-left: 0;
    border-left: transparent;
    padding-bottom: 0px;
    margin-bottom: 10px;
}
}

.h3-footer {
  font-family: 'Montserrat';
  font-weight: bold;
  font-size: 1.4rem;
  color: white;
}

@media only screen and (max-width: 1278px) {
    .image {
        width: 70%;
    }
}

@media only screen and (max-width: 986px) {
    .image {
        width: 50%;
        padding-bottom: 5%;
        display: block;
        margin: auto;
    }

    .p-subtext {
        font-size: medium;
        text-align: center;
    }
}

@media only screen and (max-width: 425px) {
    .container-fluid {
        padding: 13%;
    }

    .p-subtext {
        padding-left: 5%;
        padding-right: 5%;
    }
}