body{
    margin: 0;
    overflow-x: hidden; 
}

/* Navigation Bar */
.navbar {
  /*padding: 0 0 4.5rem;*/
  padding: 0.5% 7%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.navbar-brand {
  font-family: 'Poppins', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
  font-family: 'Poppins', sans-serif;
}

.nav-link {
  font-size: 0.9rem;
  font-weight: 300;
  font-family: 'Poppins', sans-serif;
}



h1,h3,h4,h5{
    font-family: 'Merriweather', serif;
}

h2{
    font-family: 'Merriweather', serif;

}

.square h2{
    font-family: 'Poppins', sans-serif;
}

header p{
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

h2{
    font-size: 18px; 
    color: var(--dark); 
    text-transform: uppercase;
    margin-bottom: 0;   

}

#news h2{
    padding-top: 6%;
    padding-left: 7%; 
    padding-bottom: 0; 
    margin-bottom: 0; 
}

header h2{
    font-family: 'Poppins', sans-serif;
    font-size: 25px; 
    color: var(--darker); 
    text-align: center; 
    text-transform: none; 
    font-weight: 300; 
    margin-top: -230px; 
    padding-top: 0; 

}

#news img{
    padding-top: 0; 
    margin-top: 0; 
}

 header img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%; 
    height: auto; 
    margin-top: -460px; 

  

} 


:root {
    --light: #EFF1F3;
    --midtone: #FFCC76;
    --dark:  #015D53;
    --darker: #545454; 
    --ad_accent: #FFCC76;
    --ad_accent_two: #F5FAFF; 

}

.flex-container{
    display: flex; 
}

p{
    font-size: 18px; 
    font-weight: normal; 
    color: var(--darker); 
}

.button-underline{
    font-size: 16px; 
    font-weight: bold; 
    color: #78797B; 
    text-decoration: none; 
    border-bottom: 1.9px solid var(--ad_accent);  
    margin-top: 10px;
    padding-bottom: 3px; 
    
}

a:hover{
    text-decoration: none; 
}
h1{
    color: var(--darker); 
    font-size: 90px; 
}

a:hover{
    text-decoration: none; 
    color: var(--darker); 
}



.get-involved {
    color: #5F400D;
    background-color: var(--ad_accent); 
    font-size: 16px;
    border: 0.3em ;
    border-radius: 0.5em;
    width: 12em;
    height: 3em;
    text-transform: uppercase;
    font-weight: bold;
    font-family: sans-serif;
    letter-spacing: 0.1em;
    text-align: center;
    line-height: 2.5em;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: 0.5s;
    /* margin: 1em; */
 
}

.get-involved span {
    position: absolute;
    width: 25%;
    height: 100%;
    background-color: var(--dark);
    transform: translateY(150%);
    border-radius: 50%;
    left: calc((var(--n) - 1) * 25%);
    transition: 0.5s;
    transition-delay: calc((var(--n) - 1) * 0.1s);
    z-index: -1;
}

.get-involved:hover {
    color: white;
}

.get-involved:hover span {
    transform: translateY(0) scale(2);
}

.get-involved span:nth-child(1) {
    --n: 1;
}

.get-involved span:nth-child(2) {
    --n: 2;
}

.get-involved span:nth-child(3) {
    --n: 3;
}

.get-involved span:nth-child(4) {
    --n: 4;
}




.left{
    /* width: 50%;  */
    /* height: 700px;  */
    margin: auto;  
  
}
 

.right{
    /* width: 50%; 
    height: 700px; */
    margin: auto; 
    
} 


 /* #team h2, #news h2,#get-involved h2 {
    margin-left: 150px; 
    padding-bottom: 50px;
}  */
#mission h2{
    color: var(--midtone); 
    text-align: center; 
    /* padding-top: 75px;  */
}
#news{
    background-color: #F1F2F3;
}

.news-row {
    padding-top: 3%;
    padding-bottom: 7%; 
    padding-left: 8%; 
    padding-right: 8%; 
}

#news a {
    /* margin-left: 150px;  */
}



#news h4{
    /* margin-bottom: 25px;  */
}






header .get-involved{
    display: block;
    margin: auto;
    margin-top: 50px; 
    margin-bottom: 150px; 
}

h4{
    font-size: 25px; 
    color: var(--darker); 
    font-weight: normal; 
   
}

#news .left h4{
    margin-left: 150px; 
}



#news .square h4{  
    text-align: center; 
    color: white; 
    font-size: 45px; 
    font-weight: bold; 
    margin-top: 0; 
    padding-top: 0; 
    padding-bottom: 4%; 
    margin-left: 2em; 
    margin-right: 2em;
}

#news .square  p{
    color: var(--light); 
    font-size: 18px;  
    text-align: center; 
    padding-bottom: 6%;  
    margin-left: 0.6em; 
    margin-right: 0.6em; 
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}


#news .left p{
    padding-top: 2%; 
    padding-bottom: 10%; 

}
 #news .square {
    background-color: var(--darker); 
    /* margin-top: 118px;  */
    padding-left: 10%;
    padding-right: 10%; 
    padding-top: 10%; 
    padding-bottom: 17%; 

}

#news-case-style1 {
    padding-top: 5%;
}

#news-case-style2 {
    padding-right:30%;
    padding-top: 2%; 
    padding-bottom: 5%; 
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

.news-case-manager-text {

}

.bedSquare {
    padding-left: 7%;
}

.bedText-padding {
   padding-bottom: 5%;
}


#mission{
    background-color: var(--dark); 
    padding-left: 8%;
    padding-right: 8%; 
    padding-top: 5%; 
    padding-bottom: 5%; 
}

#mission .left{
    width: 33%; 
}

#mission .middle{
    width: 33%; 
}
#mission .right{
    width: 33%; 
}

.h3-heading{
    color: white; 
    text-align: center; 
    font-size: 40px; 
    margin-top: 30px; 
}

#mission img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px; 
    width: 200px;
    
}

#mission p{
    font-weight: 500;
    font-size: 18px;
    color: white; 
    text-align: center; 
    margin-top:60px; 
    margin: 40px; 
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}
#team{
    background-color: var(--ad_accent_two);  
    padding-left: 8%; 
    padding-right: 8%; 
    padding-top: 10%;
    padding-bottom: 10%; 
}

#team img{ 
    margin: auto;
    display: block;
}

#team h2{
    padding-top: 25%; 
    padding-bottom: 2.25%; 
    margin-left: 0; 
    /* padding-bottom: 20px;  */
}
#team h3{
    color: #545454; 
    font-weight: normal; 
    text-align: left; 
    margin-top: 0; 
}
#team p{
    /* margin-right: 200px; 
    margin-bottom: 30px;  */
}

#get-involved {
    padding-left: 8%;
    padding-right: 8%; 
    padding-top: 6%; 
    padding-bottom: 10%; 
}

#get-involved h3{
    color: var(--darker); 
    text-align: left;
    font-weight: normal; 
    margin-bottom: 0; 
}
#get-involved h2{
    padding-bottom: 15px; 
}

#get-involved p{
    margin-right: 30px; 
    padding-top: 0; 
}
#get-involved img{ 
    padding-left: 15%;
    display: block;
    margin: auto;
    width: 80%; 
}

.padding-fix{
    margin-right: 0;
    margin-left: 0;
}

.col-lg-6, .col-md-6, .col-sm-12 {
    padding-left: 0;
    padding-right: 0;
}

/* #get-involved button{
    margin-left: 150px; 
} */

/* Footer */
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
/*#footer {
    padding: 60px 0;
}
*/
section .section-title {
    text-align: center;
    color: #007b5e;
    margin-bottom: 50px;
    text-transform: uppercase;
}
#footer {
    background: #545454 !important;
    padding: 60px 0;
}
#footer h5{
  padding-left: 10px;
    border-left: 3px solid #eeeeee;
    padding-bottom: 6px;
    margin-bottom: 20px;
    color:#ffffff;
}
#footer a {
    color: #ffffff;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
#footer ul.social li{
  padding: 3px 0;
}
#footer ul.social li a i {
    margin-right: 5px;
  font-size:25px;
  -webkit-transition: .5s all ease;
  -moz-transition: .5s all ease;
  transition: .5s all ease;
}
#footer ul.social li:hover a i {
  font-size:30px;
  margin-top:-10px;
}
#footer ul.social li a,
#footer ul.quick-links li a{
  color:#ffffff;
}
#footer ul.social li a:hover{
  color:#eeeeee;
}
#footer ul.quick-links li{
  padding: 3px 0;
  -webkit-transition: .5s all ease;
  -moz-transition: .5s all ease;
  transition: .5s all ease;
}
#footer ul.quick-links li:hover{
  padding: 3px 0;
  margin-left:5px;
  font-weight:700;
}
#footer ul.quick-links li a i{
  margin-right: 5px;
}
#footer ul.quick-links li:hover a i {
    font-weight: 700;
}

@media (max-width:767px){
  #footer h5 {
    padding-left: 0;
    border-left: transparent;
    padding-bottom: 0px;
    margin-bottom: 10px;
}
}

.h3-footer {
  font-family: 'Montserrat';
  font-weight: bold;
  font-size: 1.4rem;
  color: white;
}

@media only screen and (max-width: 1200px) {
    #header_img {
        /* width: 80vw; */
        margin: auto;
        display: block;
        margin-top: 0;
        margin-top: -250px;
    }


    header h2{
        margin-top: -100px; 
    }
}
 
@media only screen and (max-width: 1132px) {
    #header_img {
        /* width: 80vw; */
        margin: auto;
        display: block;
        margin-top: 0;
        margin-top: -250px;
    }


    header h2{
        margin-top: -100px; 
    }
    #news_img {
        width: 70%;
    }

    #news-case-style1 {
        padding-right: 10%;
    }

    #news .square h4{
        margin: 0; 
    }


    #news .left p{
        padding-top: 2%; 
        padding-bottom: 3%; 
    
    }
    

}

@media only screen and (max-width: 905px) {
    header img {
        width: 90%;
    }

    header h2{
        margin-top: -100px; 
    }
    #header_img {
        /* width: 80vw; */
        margin: auto;
        display: block;
        margin-top: 0;
        margin-top: -250px;
    }

}

@media only screen and (max-width: 768px) {
    #header_img {
        /* width: 80vw; */
        margin: auto;
        display: block;
        margin-top: 0;
        margin-top: -250px;
    }

    header h2{
        margin-top: -100px; 
    }

    #clouds {
        padding: 0px 0;
    }

    header h2 {
        font-size: 20px;
    }

    #get-involved img {
        width: 45vw;
    }

    #news_img{
        margin: auto;
        display: block;
        width: 70vw;
        margin-bottom: 50px; 
    }
  }

  @media only screen and (max-width: 532px) {


    header h2 {
        font-size: 15px;
    }

    #team img {
        width: 100%;
    }

    #news-case-style2 {
        padding-right: 0;
        padding-bottom: 5%;
    }

    #news_img {
        margin-bottom: 10%;
    }

    #news h2 {
        padding-bottom: 7%;
    }

    .container-fluid {
        padding-left: 0;
        padding-right: 0;
    }

    #news .square {
        margin-top: 10%;
    }

    .row {
        margin-left: 0;
        margin-right: 0;
    }

    #get-involved img {
        width: 50vw;
        padding-left: 0;
        margin: 0;
        padding-top: 15%;
    }

    .top-padding{
        padding-bottom: 40%; 
    }
    

  }

  /*Lets start with the cloud formation rather*/

/*The container will also serve as the SKY*/



body {
	/*To hide the horizontal scroller appearing during the animation*/
    overflow-x: hidden;
}

#clouds{
	padding: 0px 0;
	background: #c9dbe9;
	background: -webkit-linear-gradient(top, #c9dbe9 0%, #fff 100%);
	background: -linear-gradient(top, #c9dbe9 0%, #fff 100%);
	background: -moz-linear-gradient(top, #c9dbe9 0%, #fff 100%);
}

/*Time to finalise the cloud shape*/
.cloud {
	width: 200px; height: 60px;
	background: #fff;
	
	border-radius: 200px;
	-moz-border-radius: 200px;
	-webkit-border-radius: 200px;
	
	position: relative; 
}

.cloud:before, .cloud:after {
	content: '';
	position: absolute; 
	background: #fff;
	width: 100px; height: 80px;
	position: absolute; top: -15px; left: 10px;
	
	border-radius: 100px;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	
	-webkit-transform: rotate(30deg);
	transform: rotate(30deg);
	-moz-transform: rotate(30deg);
}

.cloud:after {
	width: 120px; height: 120px;
	top: -55px; left: auto; right: 15px;
}

/*Time to animate*/
.x1 {
    left: 120px;
	top: 35px;
	-webkit-transform: scale(0.6);
	-moz-transform: scale(0.6);
	transform: scale(0.6);
	opacity: 0.6; /*opacity proportional to the size*/

	-webkit-animation: moveclouds 15s linear infinite;
	-moz-animation: moveclouds 15s linear infinite;
	-o-animation: moveclouds 15s linear infinite;
}

/*variable speed, opacity, and position of clouds for realistic effect*/
.x2 {
	left: 200px;
	
	-webkit-transform: scale(0.6);
	-moz-transform: scale(0.6);
	transform: scale(0.6);
	opacity: 0.6; /*opacity proportional to the size*/
	
	/*Speed will also be proportional to the size and opacity*/
	/*More the speed. Less the time in 's' = seconds*/
	-webkit-animation: moveclouds 25s linear infinite;
	-moz-animation: moveclouds 25s linear infinite;
	-o-animation: moveclouds 25s linear infinite;
}

.x3 {
	left: -250px; top: -70px;
	
	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	transform: scale(0.8);
	opacity: 0.8; /*opacity proportional to the size*/
	
	-webkit-animation: moveclouds 20s linear infinite;
	-moz-animation: moveclouds 20s linear infinite;
	-o-animation: moveclouds 20s linear infinite;
}

.x4 {
	left: 470px; top: -100px;
	
	-webkit-transform: scale(0.75);
	-moz-transform: scale(0.75);
	transform: scale(0.75);
	opacity: 0.75; /*opacity proportional to the size*/
	
	-webkit-animation: moveclouds 18s linear infinite;
	-moz-animation: moveclouds 18s linear infinite;
	-o-animation: moveclouds 18s linear infinite;
}

.x5 {
	left: -150px; top: -150px;
	
	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	transform: scale(0.8);
	opacity: 0.8; /*opacity proportional to the size*/
	
	-webkit-animation: moveclouds 20s linear infinite;
	-moz-animation: moveclouds 20s linear infinite;
	-o-animation: moveclouds 20s linear infinite;
}

@-webkit-keyframes moveclouds {
	0% {margin-left: 1000px;}
	100% {margin-left: -1000px;}
}
@-moz-keyframes moveclouds {
	0% {margin-left: 1000px;}
	100% {margin-left: -1000px;}
}
@-o-keyframes moveclouds {
	0% {margin-left: 1000px;}
	100% {margin-left: -1000px;}
}
  


 
  

  
