:root {
    --light: #EFF1F3;
    --midtone: #FFCC76;
    --dark:  #015D53;
    --darker: #545454; 
    --ad_accent: #FFCC76;
    --ad_accent_two: #F5FAFF; 

}

h3 {
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 1.4rem;
    color: white;
  }

/* Navigation Bar */
.navbar {
    /*padding: 0 0 4.5rem;*/
    padding: 0.5% 7%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  
  .navbar-brand {
    font-size: 2.5rem;
    font-weight: bold;
  }
  
  .nav-item {
    padding: 0 18px;
  }
  
  .nav-link {
    font-size: 1rem;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
  }

body{
    margin: 0; 
}

.img-right {
    width: 90%;
}

.img1 {
    /* margin: auto;
    display: block; */
    padding-left: 13%;
}

#headline-one, #news-text-one, #date-one {
    padding-right: 13%;
    padding-left: 13%;
}

#headline-one {
    /* padding-top: 5%; */
}

.block-one {
    padding-bottom: 10%;
}

.flex-container{
    display: flex;
    padding-left: 10%;
    padding-right: 10%; 
}


/* .news-left{
    width: 50%; 
    margin: auto;  
  
}
 

.news-right{
    width: 50%; 
    margin: auto; 
    
}  */

#aggie-link {
  padding-left: 13%;
  text-decoration: underline; 
  color: #015D53;
}



.news-h1{
    /* text-transform: uppercase;  */
    font-size: 38px; 
    color:var(--dark); 
    padding-left: 7%;
    padding-top: 3%;
    padding-bottom: 2%;
    font-family: "Merriweather";
}



.headline{
    font-size: 21px;
    color: black; 
    font-family: 'Merriweather';
}

.news-text{
    font-weight: normal;
    font-size: 14px;
    color: var(--darker);
    font-family: 'Poppins', sans-serif;
}

.date{
    font-size: 12px; 
    color: var(--darker);
    font-weight: normal;
}

/* .button-underline{
    color: var(--darker);
    font-size: 18px; 
    font-weight: normal;
    border-bottom: 1.9px solid var(--dark);  
}

.button-underline{
  font-size: 16px; 
  font-weight: bold; 
  color: #78797B; 
  text-decoration: none; 
  border-bottom: 1.9px solid var(--ad_accent);  
  margin-top: 10px;
  padding-bottom: 3px; 
  
} */


/* .flex-container-two{
    display: flex; 
}

.left-left{
    width: 50%; 
}

.left-right{
    width: 50%; 
} */

.yt-video {
  padding: 7%;
  background-color: #F5FAFF;
}

/* Footer */
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
/*#footer {
    padding: 60px 0;
}
*/
section .section-title {
    text-align: center;
    color: #007b5e;
    margin-bottom: 50px;
    text-transform: uppercase;
}
#footer {
    background: #545454 !important;
    padding: 60px 0;
}
#footer h5{
  padding-left: 10px;
    border-left: 3px solid #eeeeee;
    padding-bottom: 6px;
    margin-bottom: 20px;
    color:#ffffff;
}
#footer a {
    color: #ffffff;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
#footer ul.social li{
  padding: 3px 0;
}
#footer ul.social li a i {
    margin-right: 5px;
  font-size:25px;
  -webkit-transition: .5s all ease;
  -moz-transition: .5s all ease;
  transition: .5s all ease;
}
#footer ul.social li:hover a i {
  font-size:30px;
  margin-top:-10px;
}
#footer ul.social li a,
#footer ul.quick-links li a{
  color:#ffffff;
}
#footer ul.social li a:hover{
  color:#eeeeee;
}
#footer ul.quick-links li{
  padding: 3px 0;
  -webkit-transition: .5s all ease;
  -moz-transition: .5s all ease;
  transition: .5s all ease;
}
#footer ul.quick-links li:hover{
  padding: 3px 0;
  margin-left:5px;
  font-weight:700;
}
#footer ul.quick-links li a i{
  margin-right: 5px;
}
#footer ul.quick-links li:hover a i {
    font-weight: 700;
}

@media (max-width:767px){
  #footer h5 {
    padding-left: 0;
    border-left: transparent;
    padding-bottom: 0px;
    margin-bottom: 10px;
}
}

@media only screen and (max-width: 1224px) {
  .img1 {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
  }

  #aggie-link {
    padding-left: 3%;
  }

  .news-h1 {
    padding-top: 5%;
    padding-bottom: 3%;
    padding-left: 3%;
  }

  .img-right {
    width: 100%;
  }

  #headline-one, #news-text-one, #date-one {
    padding-left: 15px;
    padding-right: 15px;
  }

  #date-one {
    padding-bottom: 10%;
  }

  .block-one {
    padding-bottom: 5%;
  }

  .date {
    padding-bottom: 10%;
  }
}